@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
    margin: 0px;
    padding: 0px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-div {
    width: 40rem;
    border: 1px solid var(--grey);
    padding: 1rem;
    background: var(--light-blue);
    color: var(--white);
    text-align: center;
    border-radius: 5px;
}

.counter-div > * {
    margin-bottom: 2rem;
}

.count {
    font-size: 4rem;
    border: 1px solid var(--white);
    padding: 5px;
}

hr, h1 {
    margin: 20px;
}

.buttons button {
    padding: 1rem;
    margin: 1.5rem 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}
